## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - nightly
branches:
  only:
    - master
    - /^v[0-9]+\.[0-9]+\.[0-9]+$/ # version tags
notifications:
  email: false
git:
  depth: 99999999
matrix:
 allow_failures:
 - julia: nightly
before_script:
  - julia -e 'Pkg.add("OSQP"); Pkg.checkout("OSQP"); Pkg.build("OSQP")'
## uncomment the following lines to override the default test script
#script:
#  - julia -e 'Pkg.clone(pwd()); Pkg.build("SimpleQP"); Pkg.test("SimpleQP"; coverage=true)'
after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("SimpleQP")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("SimpleQP")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
